<strong>Hello, {{ provider }}</strong>
<p>There's a new appointment cancellation, see the details above:</p>
<p>
    <strong>Client: </strong> {{ user }} <br>
    <strong>Date: </strong> {{ date }} <br>
    <br>
    <small>
        This date is available again.
    </small>
</p>
